<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"       
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:p="http://www.springframework.org/schema/p"       
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- Activates various annotations to be detected in bean classes: Spring's @Required and @Autowired,
        as well as JSR 250's @PostConstruct, @PreDestroy and @Resource (if available)
        and JPA's @PersistenceContext and @PersistenceUnit (if available).
    -->
    <context:annotation-config />

    <!-- Scan the classpath for annotated components that will be auto-registered as Spring beans.
        By default, Spring-provided stereotypes: @Component, @Repository, @Service, and @Controller will be detected.
    -->
    <context:component-scan base-package="com.city.atm" annotation-config="true" />

    <context:property-placeholder location="/WEB-INF/application.properties" />

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.url}" p:username="${jdbc.username}"
        p:password="${jdbc.password}">
    </bean>

    <!-- PERSISTENCE SUPPORT (JPA , Hibernate ,IBatis etc) -->
    <bean id="jpaProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"
        p:location="/WEB-INF/application.properties" p:ignoreResourceNotFound="false">
    </bean>

    <!-- Define a bean named 'entityManagerFactory' that configures a test SessionFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
        p:dataSource-ref="dataSource" p:jpaProperties-ref="jpaProperties"
        p:persistenceUnitName="ATMRestService" p:packagesToScan="com/city/**/model">
        <property name="jpaVendorAdapter">
            <!-- Implementation for Hibernate EntityManager -->
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />  
        </property>
    </bean>

    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
        p:entityManagerFactory-ref="entityManagerFactory" p:dataSource-ref="dataSource" />

    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>